/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  margin: 0px;
  background-image: var(--bg-image); /* по умолчанию*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.light-theme .page {
  background-color: #1a1a1a;
  background-image: var(--bg-image);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr; /* 3 секции по вертикали */
  block-size: 100vh; /* высота равна высоте окна браузера */
  padding: 10px;
  position: relative;
  gap: 55px;
  margin-block-end: 40px;

}

/* Правый верхний уголок */
.header::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--nav-color); /* красная верхняя граница */
  border-right: 1px solid var(--nav-color); /* правая граница */
}

/* Левый нижний уголок */
.header::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--nav-color); /* нижняя граница */
  border-left: 1px solid var(--nav-color); /* левая граница */
}

.decorative-rec {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--nav-color);
  text-transform: uppercase; /* все буквы заглавные */
  opacity: 1; /* изначально показан так как темная тема */
  pointer-events: none; /* не реагирует на клики */
  font-family: 'IBM Plex Mono';
  line-height: 25px;
  text-align: center;
}

.decorative-rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--nav-color);
  border-radius: 50%;
  margin-inline-start: 10px; /* отступ от текста */
  vertical-align: middle; /* выравнивание по вертикали относительно текста */
  box-shadow: 0px 0px 4px 2px var(--nav-color);

}

.header__theme-menu {
  align-self: flex-end;
  justify-self: right;
  margin-block-end: 11px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--nav-color);
  border: none;
  inline-size: 70px;
  block-size: 26px;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--nav-color);
}
.header__theme-menu-button_type_light:hover {
  border: 1px solid var(--focus-text-hover);
}

.header__theme-menu-button_type_light:focus {
  border: none;
  border-bottom: 1px solid var(--nav-color);
}

.title__caption {
  font-family: 'IBM Plex mono';
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--header-title-shadows);
}

.header__text {
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
  justify-self: end;
  max-inline-size: 364px;
}

.title-decor {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}
.content_section {
  padding: 0px 10px;
  margin-bottom:50px;
}

.why_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.what_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.question {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--header-title-shadows);
  margin-block-start: 0px;
}

.card_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.text_caption {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  line-height: 23.4px;
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
  margin-block-end: 10px;
}

.advises {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  line-height: 23.4px;
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
}

.bold_caption {
  font-weight: 700;
}

.regular_caption {
  font-weight: 400;
}

.card_text {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.text_link {
  text-shadow: 2px 2px 0 var(--header-title-shadows);
  cursor: pointer;
}

.text_link:hover {
  text-decoration: underline;
}

.text_link:focus {
  outline: 1px solid var(--focus-text-hover);
}

.pic {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover; /* сохраняет пропорции, обрезает лишнее */
  display: block;
}

.footer {
  block-size: 100vh; /* высота равна высоте окна браузера */
  min-block-size: 668px;
  padding: 10px;
  position: relative;
  gap: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--nav-color); /* красная верхняя граница */
  border-right: 1px solid var(--nav-color); /* правая граница */
}

/* Левый нижний уголок */
.footer::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--nav-color); /* нижняя граница */
  border-left: 1px solid var(--nav-color); /* левая граница */
}

.img_section {
  display: block;
  padding: 0 10px;
  margin-block-end: 40px;
}

.pic_grid {
  display: grid;
  gap: 10px;
}

.footer_propert {
  font-family: 'IBM Plex mono';
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--footer-shadows);
}

@media (min-width: 768px) {
.decorative-rec {
  top: 20px;
  right: 30px;
}

.header::before {
  bottom: 20px;
  left: 20px;
}

.header::after {
  top: 20px;
  right: 20px;
}

.header {
  padding-right: 20px;
  padding-left: 0px;
  margin-block-end: 58px;
}

.header__theme-menu {
  margin-block-start: 71px;
  align-self: center;
}

.header__theme-menu-list {
  gap: 11px;
}

.title__caption {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.title-decor {
  margin-block-start: 106px;
}
.content_section {
  padding: 0px 20px;
  margin-block-end: 80px;
}

.why_section {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0px;
}

.question {
  inline-size: 236px;
  grid-column: 1; /* первая колонка */
  grid-row: 1 / 6;
}

.multi {
  grid-column: 2; /* вторая колонка */
  grid-row: 1; /* первая строка */
}

.dofamin {
  grid-column: 2; /* вторая колонка */
  grid-row: 2; /* вторая строка */
}

.how_section {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0px;
}

.advises {
  grid-column: 2;
  grid-row: 1;
}

.clouds {
  grid-column: 2;
  grid-row: 2;
}

.music {
  grid-column: 2;
  grid-row: 3;
}

.walk {
  grid-column: 2;
  grid-row: 4;
}

.good_eat {
  grid-column: 2;
  grid-row: 5;
}

.read {
  grid-column: 2;
  grid-row: 6;
}

.pic_grid {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  min-inline-size: 728px;
  grid-template-columns: 1fr 1fr 1fr; /* 3 колонки равной ширины */
  grid-template-areas:
      "sunset sunset ice"
      "tape books ice"
      "tape street street";
}
.img_section {
  padding: 0 20px;
  margin-block-end: 60px;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  max-block-size: 1024px;
}

.footer::before {
  bottom: 20px;
  left: 20px;
}

.footer::after {
  top: 20px;
  right: 20px;
}
}

@media (min-width: 1024px) {

.header__theme-menu {
  align-self: start; /* сверху */
  justify-self: center; /* по центру */
  margin-block-start: 10px;
  margin-inline-start: 36px;
  padding-right: 16px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row; /* горизонтально */
  gap: 10px;
  list-style-type: none;
}

.decorative-rec {
  top: 20px;
  right: 30px;
}

.header::before {
  bottom: 20px;
  left: 20px;
}

.header::after {
  top: 20px;
  right: 20px;
}

.header {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 0px;
  margin-block-end: 60px;
}

.header__text {
  max-inline-size: 491px;
  margin-block-start: 60px;
}

.title__caption {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.content_section {
  padding-left: 20px;
  padding-right: 20px;
  margin-block-end: 80px;
}

.why_section {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0px;
}

.how_section {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0px;
}

.question {
  inline-size: 315px;
}

.pic_grid {
  min-inline-size: 984px;
}

.img_section {
  padding: 0 20px;
  margin-block-end: 60px;
}

.footer {
  max-block-size: 768px;
}

.footer::before {
  bottom: 20px;
  left: 20px;
}

.footer::after {
  top: 20px;
  right: 20px;
}

.what_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.what_section .card_list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px; /* отступы между рядами */
}

.footer_propert {
  font-size: 157px;
}
}