/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  object-fit: cover;
  object-position: center;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  padding: 10px;
  position: relative;
  gap: 55px;
  margin-block-end: 40px;
  min-height: 668px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}

.decorative-rec {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--nav-color);
  text-transform: uppercase;
  opacity: 1;
  pointer-events: none;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 25px;
  text-align: center;
}

.decorative-rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--nav-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--nav-color);

}

.header__theme-menu {
  align-self: flex-end;
  justify-self: right;
  margin-block-end: 11px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--nav-color);
  border: none;
  inline-size: 70px;
  block-size: 26px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--nav-color);
}

.header__theme-menu-button:active {
  outline: none !important;
  border-bottom: 1px solid  var(--nav-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--focus-text-hover);
}

.title__caption {
  font-family: 'IBM Plex mono';
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--header-title-shadows);
}

.header__text {
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
  justify-self: end;
  max-inline-size: 364px;
}

.title-decor {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.content_section {
  padding: 0px 10px;
  margin-block-end: 40px;
}

.why_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.what_section {
  display: flex;
  flex-direction: column;
}

.how_section {
  display: grid;
  grid-template-columns: 1fr;
}

.question {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--nav-color);
  margin-block-start: 0px;
  margin-block-end: 20px;
}

.card_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.text_caption {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
  margin-block-end: 10px;
}

.advises {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--caption-color);
  background-color: var(--header-title-shadows);
  margin-block-end: 10px;
}

.bold_caption {
  font-weight: 700;
}

.regular_caption {
  font-weight: 400;
}

.card_text {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-block-end: 10px;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--header-title-shadows);
  cursor: pointer;
}

.text_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text_link:focus {
  outline: 1px solid var(--text-color);
}

.pic {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
  gap: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_section {
  display: block;
  padding: 0 10px;
  margin-block-end: 40px;
}

.pic_grid {
  display: grid;
  gap: 10px;
}

.footer_propert {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--footer-shadows);
}

@media (min-width: 768px) {

.header {
  padding-right: 20px;
  padding-left: 0px;
  margin-block-end: 58px;
}
.decorative-rec {
  position: absolute;
  top: 20px;
  right: 30px;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
}

.header__theme-menu {
  margin-block-start: 71px;
  align-self: center;
}

.header__theme-menu-list {
  gap: 11px;
}

.title__caption {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.title-decor {
  margin-block-start: 106px;
}
.content_section {
  padding: 0px 20px;
  margin-block-end: 70px;
}

.why_section {
  grid-template-columns: min-content 1fr;
}
.why_section .card_list {
  padding-left: 20px;
}

.question {
  inline-size: 236px;
  grid-column: 1;
  grid-row: 1 / 6;
}

.card_list:first-child {
  grid-column: 2;
  grid-row: 1;
}

.card_list:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.how_section {
  grid-template-columns: 1fr 2fr;
  gap: 0px;
}

.advises {
  grid-column: 2;
  grid-row: 1;
}

.how_section .card_list {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.pic_grid {
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  min-inline-size: 728px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "sunset sunset ice"
      "tape books ice"
      "tape street street";
}
.img_section {
  padding: 0 20px;
  margin-block-end: 60px;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

}

@media (min-width: 1024px) {

.header__theme-menu {
  align-self: start;
  justify-self: center;
  margin-block-start: 10px;
  margin-inline-start: 36px;
  padding-right: 16px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.header {
  padding-top: 10px;
  margin-block-end: 60px;
}

.header__text {
  max-inline-size: 491px;
  margin-block-start: 60px;
}

.content_section {
  padding-left: 20px;
  padding-right: 20px;
}

.why_section {
  grid-template-columns: min-content 1fr;
}

.how_section {
  grid-template-columns: min-content 1fr;
}

.how_section .card_list {
  padding-left: 20px;
}

.question {
  inline-size: 315px;
}

.pic_grid {
  min-inline-size: 984px;
}

.img_section {
  padding: 0 20px;
  margin-block-end: 60px;
}

.what_section .card_list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.footer_propert {
  font-size: 157px;
}
}